@media (prefers-color-scheme: light) {
    :root{
        --background-color: #{$near-white};
        --text-color: #{$near-black};
    }
}   
  
@media (prefers-color-scheme: dark) {
    :root{
        --background-color: #{$near-black};
        --text-color: #{$near-white};
    }

    .logo{
        filter: invert(1);
    }

    nav ul li a{
        color: var(--text-color);
    }
}