/* -------------------- Colors -------------------- */

.text-akq-lightgreen{
    color: $akq-lightgreen;
}

.text-akq-green{
    color: $akq-green;
}

.text-akq-darkgreen{
    color: $akq-darkgreen;
}

.text-akq-blue{
    color: $akq-blue;
}

.text-akq-purple{
    color: $akq-purple;
}

.text-akq-red{
    color: $akq-red;
}

.text-akq-orange{
    color: $akq-orange;
}

.text-akq-yellow{
    color: $akq-yellow;
}

.bg-akq-lightgreen{
    background-color: $akq-lightgreen;
}

.bg-akq-green{
    background-color: $akq-green;
}

.bg-akq-darkgreen{
    background-color: $akq-darkgreen;
}

.bg-akq-blue{
    background-color: $akq-blue;
}

.bg-akq-purple{
    background-color: $akq-purple;
}

.bg-akq-red{
    background-color: $akq-red;
}

.bg-akq-orange{
    background-color: $akq-orange;
}

.bg-akq-yellow{
    background-color: $akq-yellow;
}

.rainbow-border{
    border: $s solid transparent;
    border-image: $akq-gradient;
    border-image-slice: 1;
}

/* -------------------- Icons -------------------- */

svg.iconify{
    // 24x24
    height: $l;
    width: $l;
    
    &.size-s{
        // 16x16
        height: $m;
        width: $m;
    }
    
    &.size-l{
        // 48x48
        height: $xxl;
        width: $xxl;
    }
}

/* -------------------- Layout -------------------- */

.container{
    max-width: 1164px;
    margin: 0 auto;
}

/* -------------------- UI Components -------------------- */

a[class^="btn"] {
    display: inline-block;
    background: $theme;
    padding: $m;
    border-radius: $xs;
    display: flex;
    align-items: center;

    .iconify{
        
    }
}