/* -------------------- Mobile -------------------- */

@media screen and (max-width: 640px) {
    main{

        section, footer{
            padding: 0 !important;
            margin: $xxl auto !important;
        }

        #facts{
            padding: $xxl !important;
        }

        .screen-grid{
            grid-gap: $m;
        }

        #tools ul{
            grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        }
    }
}