nav{
    position: fixed;
    width: 100%;
    background-color: $darker-gray;
    max-height: $xxxl;

    ul{
        list-style: none;
        display: flex;

        li{
            a{
                display: inline-block;
                padding: $m;
                font-family: 'Montserrat', sans-serif;
                text-decoration: none;
                font-size: 1rem;
            }
        }
    }
}