// Base
@import "partials/variables";
@import "partials/helpers";
@import "partials/typography";
@import "partials/animations";
// Media Queries
@import "partials/mobile";
@import "partials/tablet";
@import "partials/darkmode";
// Components
@import "partials/nav";

/* -------------------- Basic -------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::selection{
        background-color: $theme;
    }
}

:root{
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    font-family: 'Comfortaa', sans-serif;
}
