@import "variables.scss";
@import "helpers.scss";
@import "typography.scss";

/* -------------------- Basic -------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::selection{
        background-color: $theme;
    }
}

:root{
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
    font-family: 'Comfortaa', sans-serif;
}

body{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 2vw;
}

/* -------------------- Header -------------------- */

header#page-header{
    position: sticky;
    top: 0;
    padding: $m;
    text-align: right;
    z-index: 98;

    button{
        font-size: 2rem;
        line-height: .5;
        padding: 1rem;
        position: relative;
        z-index: 99;

        &[aria-expanded=false]::after{
            content: "≡";
        }

        &[aria-expanded=true]::after{
            content: "×";
        }
    }

    nav#main-nav{
        background-color: var(--background-color);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a{
            background: linear-gradient(var(--text-color) 0 100%) center / 0 no-repeat;
            background-clip: text;
            font-family: 'Roboto', sans-serif;
            font-size: clamp(2rem, calc(1.5rem + 2vw), 3.25rem);
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: $xxs;
            line-height: 1.25;
            margin-bottom: $l;
            color: transparent;
            -webkit-text-stroke: $xxs var(--text-color);
            text-decoration: none;
            transition: background-size $fast;

            &:hover{
                text-shadow: none;
                background-size: 100%;
            }
        }
    }
}

/* -------------------- Main -------------------- */

main{
    margin: 0 auto;
    padding: 0 $m;
}

section{
    padding: 0 $xxxl !important;
    max-width: 1140px;
    margin: $xxxxl auto !important;
}

#intro{
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #portrait{
        position: relative;
        
        svg{
            width: 640px;;
            height: auto;

            path{
                fill: url("#waves-gradient");
                animation: rotate 60s linear infinite forwards;
                transform-origin: center;

                &:nth-child(2n){
                    animation-direction: reverse;
                }
            }
        }

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 8px solid $theme;
        }
    }
}

#facts{
    padding: $xxxl !important;

    dl dd{
        font-size: clamp(2.75rem, calc(3.25rem + 2vw), 3.75rem);
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
        -webkit-text-stroke: $xxs var(--text-color);
        text-shadow: $xxs $xxs var(--background-color), $shadow-2;
    }
}

#tools ul{
    display: grid;
    grid-gap: $m;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    justify-items: center;

    li{

        &::before{
            display: none;
        }

        img{
            height: 56px;
            width: auto;
        }
    }
}

#projects{
    
    .project{

        &:nth-of-type(8n - 7) > header{
            background: linear-gradient(135deg, $akq-lightgreen, $akq-green);
        }

        &:nth-of-type(8n - 6) > header{
            background: linear-gradient(135deg, $akq-green, $akq-darkgreen);
        }

        &:nth-of-type(8n - 5) > header{
            background: linear-gradient(135deg, $akq-darkgreen, $akq-blue);
        }

        &:nth-of-type(8n - 4) > header{
            background: linear-gradient(135deg, $akq-blue, $akq-purple);
        }

        &:nth-of-type(8n - 3) > header{
            background: linear-gradient(135deg, $akq-purple, $akq-red);
        }

        &:nth-of-type(8n - 2) > header{
            background: linear-gradient(135deg, $akq-red, $akq-orange);
        }

        &:nth-of-type(8n - 1) > header{
            background: linear-gradient(135deg, $akq-orange, $akq-yellow);
        }

        &:nth-of-type(8n) > header{
            background: linear-gradient(135deg, $akq-yellow, $akq-lightgreen);
        }

        header{
            width: 100%;
            overflow: hidden;
            text-align: center;
            padding: 0;
            aspect-ratio: 16 / 10;

            svg{
                margin-top: 5%;
                filter: drop-shadow(0 $s $m rgba(0, 0, 0, 0.5));
            }

            .smartphone{
                max-width: 50%;
            }

            .tablet{
                max-width: 90%;
            }

            .display{
                max-width: 90%;
            }
        }
    }
}

.screen-grid{
    display: grid;
    grid-gap: $xxl;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    figure{
        margin: 0;
    }
}

svg{

    &.smartphone{
        width: 100%;
        max-width: 320px;
        margin: $l auto;
        filter: drop-shadow(0 $xs $s rgba(0, 0, 0, 0.25));
    }

    &.display{
        width: 100%;
        margin: $l auto;
    }

    .device-body{
        fill: #333;
    }
}

/* -------------------- Footer -------------------- */

footer{
    margin: 0 auto;
    padding: $xxxl 0;

    ul{

        li{
            display: inline-block;
            margin-right: $xl;

            a{
                text-decoration: none;

                img{
                    margin-right: $xs;
                }
            }

            &::before{
                display: none;
            }
        }
    }
}

/* -------------------- Animations -------------------- */

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/* ----------------------------- Transition ----------------------------- */

#transition-stripes{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    z-index: 999999;

    div{
        height: 0;
        width: 100%;
    }
}

/* -------------------- Darkmode vs Lightmode -------------------- */

@media (prefers-color-scheme: light) {
  :root{
    --background-color: #f7f7f7;
    --foreground-color: #fff;
    --text-color: #333;
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --background-color: #111;
    --foreground-color: #333;
    --text-color: #f7f7f7;
  }

  .invert-colors{
      filter: invert(1);
  }
}

/* -------------------- Tablet -------------------- */

@media screen and (max-width: 1199px) {
    
}

/* -------------------- Mobile -------------------- */

@media screen and (max-width: 640px) {
    main{

        section, footer{
            padding: 0 !important;
            margin: $xxl auto !important;
        }

        #facts{
            padding: $xxl !important;
        }

        .screen-grid{
            grid-gap: $m;
        }

        #tools ul{
            grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        }
    }
}