@import "variables.scss";

/* -------------------- Typography -------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.25;
    text-transform: uppercase;
}

h1{
    font-size: clamp(2rem, calc(1.5rem + 2vw), 3.25rem);
    margin-bottom: $m;
    -webkit-text-stroke: $xxs var(--text-color);
    text-shadow: $xxs $xxs var(--background-color), $shadow-2;
}

h2{
    font-size: clamp(1.75rem, calc(1.25rem + 2vw), 2.75rem);
    margin-bottom: $xl;
    -webkit-text-stroke: $xxs var(--text-color);
    text-shadow: $xxs $xxs var(--background-color), $shadow-2;
    word-break: break-all;
}

h3{
    font-size: clamp(1.5rem, calc(1rem + 2vw), 2rem);
    margin: $l 0 $m 0;
}

h4{
    font-size: clamp(1.25rem, calc(0.5rem + 2vw), 1.75rem);
    margin: $l 0 $m 0;
}

h5{
  font-size: clamp(1.25rem, calc(0.25rem + 2vw), 1.75rem);
  margin: $l 0 $m 0;
}

h6{
  font-size: clamp(1rem, 2vw, 1.5rem);
  margin: $l 0 $m 0;
}

p, li, dd, a{
    font-size: clamp(1rem, calc(1rem + 2vw), 1.25rem);
    line-height: 1.5;
    margin-bottom: $m;
}

a{
    color: $theme;
    text-decoration: underline;

    &:hover{
        color: var(--text-color);
        text-decoration: none;
    }
}

ul{
    list-style: none;
    padding-left: 0;

    li::before{
        content: "■";
        color: $theme;
        position: relative;
        top: -3px;
        margin-right: $s;
    }
}

dl{
    dt, dd{
        font-size: clamp(1rem, calc(1rem + 2vw), 1.5rem);
        line-height: 1.5;
    }

    dd{
        margin: 0;
    }
}

button{
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-color);
}

figure{
    text-align: center;

    figcaption{
        hyphens: auto;
    }
}